@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Assign a machine</h2>

<h4>Assign a machine for this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Engineer", "Details", new {id = Model.EngineerId})
<p>@Html.ActionLink("Back to list", "Index")</p>